@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">500 - Error</h1>
<h2 class="text-danger">Someting terrible happend in the system!</h2>
<br />
@Html.ActionLink("Back to Start", "Index")