@model List<Weather.Domain.City>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inputCity">
    
</div>

<div class="weatherResult">
    @if (Model != null)
    {
        <table>
            
            <tr>

                <th>dag 1</th>

                <th>dag 2</th>

                <th>dag 3</th>

                <th>dag 4</th>

                <th>dag 5</th>

            </tr>

            <tr>
            @foreach (var item in Model)
            {
                foreach (var key in item.weather)
                {
                    <td>
                        <div class="weather">@Html.DisplayFor(modelItem => key.Weather)</div>
                        <div class="day">@Html.DisplayFor(modelItem => key.TempDay)°</div>
                        <div class="night">@Html.DisplayFor(modelItem => key.TempNight)°</div>
                        <img src="~/Content/pictures/@Html.DisplayFor(modelItem => key.WeatherIcon)" />
                    </td>
                }
            }
            </tr>
           

        </table>
    }
</div>

