body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#top{
    background-color: #E1FFF5;
    padding: 15px;
}

#top h1{
    font-size: 36px;
    margin-left: 68px;
}
#top p{
    float: right;
    position: relative;
    bottom: 27px;
}



 .inputCity{
     padding:60px;
    height: 150px;
 }
 .inputCity label{
     float:left;
    font-size: 21px;
    padding-right: 12px;
 }
  .inputCity input{
    float:left;
 }
 .inputCity .button{
    float: left;
    height: 34px;
    border-radius: 3px;
    background-color: #080d2c;
    color: white;
    margin-left: 10px;
    border: none;
 }
 .inputCity span{
    font-size:16px;
    padding-left: 8px;
 }
 .success{
    background-color: #FFF4D1;
    padding: 15px;
    margin-top: 10px;
    width: 36%;
 }




.weatherResult {
    font-size: 19px;

}
table, th, td {
    border: #C5C5C5 solid 1px;
    text-align: center;
}
td{
    text-transform: capitalize;
    background-color: #E1FFF5;
    width:500px;
}
th{
    text-align: center;
    background-color: #C9E6DD;
    padding: 17px
}
.weather{
        padding: 11px;
}
.C{
    float:left;
    width: 100%;
}
.day{
    background-color: #ffeb7c;
    width: 50%;
    float:left;
}
.night{
    background-color: #080d2c;
    color: white;
    width: 50%;
    float:left;
}
.weatherResult img{
    width: 69px;
    height: 69px;
}
#footer{
    background-color: #C9E6DD;
    font-size: 20px;
    padding:30px;
    width:100%;
    position: absolute;
    bottom: 0px;
}
